.carousel-container {
	overflow: hidden;
  }
  
.title {
  margin-top: 1rem;
  margin-left: 0rem;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title h3 {
  margin-left: 1.5rem;
}
  