@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.ChoiceBookCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.ChoiceBookCardimg{      
  /* position:relative;     */
  width:85%;
  height:auto;
  aspect-ratio: 300 / 450;
  border:none;
  font-family:'Spoqa Han Sans Neo', sans-serif;
  background-color:var(--sub-background-color);
  background-size:cover;
  transition:all 300ms;
  box-shadow: 0 3px 8px rgb(141, 138, 138);   
  /* margin: 0 10px; */
}

.book-title{
  /* font-size:1.1vw; */
  font-size:15px;
  font-weight: 600;
  margin-top:0.8rem;
  margin-bottom:0.5rem;

  width:180px;
  padding:0 5px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.book-author{
  font-size:0.8vw;
  font-size:12px;
  color:#999;

  width:190px;
  padding:0 5px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;  
}


/* @media (min-width:1024px) and (max-width:3000) {
    .book-title{
        font-size:15vw;
    }
    .book-author{
        font-size:15vw;
    }
}
@media (min-width:464px) and (max-width:1024) {
  .book-title{
    font-size:10vw;
}
.book-author{
    font-size:10vw;
}
}
@media (min-width:0px) and (max-width:464) {
  .book-title{
    font-size:5vw;
}
.book-author{
    font-size:5vw;
}
} */



/* .book-title{
  font-size:15px;
  font-weight: 600;
  margin-top:0.8rem;
  margin-bottom:0.5rem;

  width:180px;
  padding:0 5px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.book-author{
  font-size:0.8vw;
  font-size:12px;
  color:#999;

  width:190px;
  padding:0 5px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;  
}

.ChoiceBookCard{    
    position:relative;    
    width:85%;
    height:auto;
    aspect-ratio: 300 / 450;
    border:none;
    font-family:'Spoqa Han Sans Neo', sans-serif;
    background-color:var(--sub-background-color);
    background-size:cover;
    transition:all 300ms;

    box-shadow: 0 3px 8px rgb(141, 138, 138); ;

    @media(hover: hover) and (pointer: fine) {
    }
    &::before{
      position:absolute;
      top:50%;
      left:50%;
      z-index:-1;
      transform:translate(-50%, -50%);
      display:block;
      content:'';
      width:80px;
      height:40px;
      background-size:100% auto;
      filter:grayscale(1);
      opacity:0.2;
    }  
  .overlay{
    position:relative;
    z-index:2;
    width:100%;
    height:100%;
    background:rgba(43, 41, 41, 0.9);
    padding:10%;
    box-sizing:border-box;
    opacity:0;
    transition:all 300ms;
    color:white;
    font-weight:bold;
    word-break:keep-all;
    @media(hover: hover) and (pointer: fine) {
      &:hover{
        cursor: pointer;
      }
    }  
  }
} */

