@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.BestsellerBookSlider{
  padding:3% 0;
  /* font-family:'Spoqa Han Sans Neo', sans-serif; */
  font-family: "Anton", sans-serif;
  font-size:clamp(100px, 7vw, 140px);
}

.carousel-container{
  padding:25px 0;
  overflow:hidden;
}

.carousel .control-arrow {
  display: none; /* 화살표 숨기기 */
}

.carousel:hover .control-arrow {
  display: block; /* 마우스 hover 시 화살표 보이기 */
}