.starIcon {
  margin-top: 20px;
  color: gold;
}

.bookDetailInfo {
  font-size: small;
  color: gray;
}
.bookDetailInfo div {
  margin-bottom: 5px; /* 세부 정보 아이템들 사이의 간격 추가 */
}
.bookSubInfo {
  margin-top: 20px; /* 부가 정보와 세부 정보 사이의 간격 추가 */
}
.bookSubInfo div {
  margin-bottom: 10px; /* 부가 정보 항목들 사이의 간격 추가 */
}

.bookPrice {
  font-size: x-small;
  color: gray;
  text-decoration: line-through;
}
.bookSale {
  font-weight: bold;
  margin-right: 5px;
}
.bookSalePercent {
  color: red;
  font-weight: bold;
  margin-right: 5px;
}

.textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 200px;
  font-weight: bold;
  margin-bottom: 20px; /* 제목 아래 여백 추가 */
  margin-top: 20px;
}
.bookCard {
  display: flex;
}
.bookImg {
  width: 200px;
  object-fit: cover;
}

.bootInfo {
  margin-left: 1em;
}

button {
  margin-top: 20px;
  background-color: dodgerblue;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 25px; 
  cursor: pointer; 
}

button:hover {
  background-color: #007bff;
}
